html {
min-width: 650px;
position: relative;
}

#sidebar {
    position: absolute;
    width:20%;
    /* overflow: scroll; */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#drive-listing #drive-title{
    color: black !important;
	font-size: 150%;
	display: block;
}

#drive-listing #drive-title:hover{
    color: #A2A2A2 !important;
}

#drive-listing #drive-title:active{
    color: #515151 !important;
}

#drive-listing a {
	text-decoration: none;
}

.pretty {
	display: block;
}

#search_bar_div {
    /* min-width: 300px;
    overflow: scroll; */
    margin-left:22%;
    margin-right: 40%;
    }
