<!-- templates/register.html -->

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'drives/drive_list.css' %}">

		
{% if drive_list %}
	{% for drive in drive_list %}
		<div class="container mt-2 border rounded" id="drive-listing">
			<a href="{% url 'drives:post_details' drive.id %}" id="drive-title">{{ drive.title }}</a>
			<a href="{% url 'users:profile' drive.driver.id %}">{{ drive.driver.username }}</a>
			<br>
			<p style="word-break: break-all;">{{ drive.description }}</p>
		</div>
	{% endfor %}
{% else %}
	<p>There are no drives currently listed.</p>
{% endif %} 


{% endblock %}
