<!-- https://jqueryui.com/datepicker/ 
     https://api.jqueryui.com/datepicker/ -->
{% extends 'RideOn/base.html' %}

{% block title %} Ride Creation {% endblock %}

{% block content %}


<head>
    <!-- Style of the date time. We can make our own if needed -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    


    <script>
        $(function () {
            $("#id_date").datepicker({format: 'yy-mm-dd'});
        });
    </script>
    <script type="text/javascript">
        $(function () {
                $("#id_time").timepicker();
            });
    </script>
</head>


<h2>New post</h2>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>



<!-- <p>Date: <input type="text" id="id_date"></p> -->




{% endblock %}