<!-- https://jqueryui.com/datepicker/ 
     https://api.jqueryui.com/datepicker/ -->

<!-- Majority of this code is taken form here:  https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/places-autocomplete-addressform-->

{% extends 'RideOn/base.html' %}

{% block title %} Ride Creation {% endblock %}

{% block content %}


<head>
    <!-- Style of the date time. We can make our own if needed -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    


    <script>
        $(function () {
            $("#id_date").datepicker({format: 'yy-mm-dd'});
        });
    </script>
    <script type="text/javascript">
        $(function () {
                $("#id_time").timepicker();
            });
    </script>
</head>


<h2>New post</h2>

    <div id="locationField">
        <input id="autocomplete_start" placeholder="Enter your address" onFocus="geolocate_start()" type="text" />
    </div>

    <div id="locationField">
        <input id="autocomplete_end" placeholder="Enter your address" onFocus="geolocate_end()" type="text" />
    </div>

    <script>
        // This sample uses the Autocomplete widget to help the user select a
        // place, then it retrieves the address components associated with that
        // place, and then it populates the form fields with those details.
        // This sample requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script
        // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;

        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        var componentFormStart = {
                start_street_number: 'short_name',
                start_route: 'long_name',
                start_locality: 'long_name',
                start_administrative_area_level_1: 'short_name',
                start_country: 'long_name',
                start_postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search predictions to
            // geographical location types.
            autocomplete_start = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete_start'), { types: ['geocode'] });

            autocomplete_end = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete_end'), { types: ['geocode'] });
            // Avoid paying for data that you don't need by restricting the set of
            // place fields that are returned to just the address components.
            autocomplete_start.setFields(['address_component']);
            autocomplete_end.setFields(['address_component']);

            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete_start.addListener('place_changed', fillInAddress_start);
            autocomplete_end.addListener('place_changed', fillInAddress_end);
        }

        function fillInAddress_start() {
            // Get the place details from the autocomplete object.
            var place = autocomplete_start.getPlace();

            for (var component in componentForm) {
                document.getElementById("id_start_" + component).value = '';
                document.getElementById("id_start_" + component).disabled = false;
            }

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById("id_start_" + addressType).value = val;
                }
            }
        }

        function fillInAddress_end() {
            // Get the place details from the autocomplete object.
            var place = autocomplete_end.getPlace();

            for (var component in componentForm) {
                document.getElementById("id_end_" + component).value = '';
                document.getElementById("id_end_" + component).disabled = false;
            }

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById("id_end_"+ addressType).value = val;
                }
            }
        }



        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate_start() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle(
                        { center: geolocation, radius: position.coords.accuracy });
                    autocomplete_start.setBounds(circle.getBounds());
                });
            }
        }


        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate_end() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle(
                        { center: geolocation, radius: position.coords.accuracy });
                    autocomplete_end.setBounds(circle.getBounds());
                });
            }
        }
    </script>
    <!-- &location=38.0293, -78.4767 -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY7BlSzTYJKwTNrObrU7so714CJgF3Uhc&libraries=places&location=38.0293, -78.4767&callback=initAutocomplete"
        async defer></script>









<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="hidden" id="id_start_country" name="start_country" value="">
	<input type="hidden" id="id_start_street_number" name="start_street_number" value="">
	<input type="hidden" id="id_start_route" name="start_route" value="">
	<input type="hidden" id="id_start_locality" name="start_locality" value="">start_postal_code
	<input type="hidden" id="id_start_administrative_area_level_1" name="start_administrative_area_level_1" value="">
	<input type="hidden" id="id_start_postal_code" name="start_postal_code" value="">
	
	<input type="hidden" id="id_end_country" name="end_country" value="">
	<input type="hidden" id="id_end_street_number" name="end_street_number" value="">
	<input type="hidden" id="id_end_route" name="end_route" value="">
	<input type="hidden" id="id_end_locality" name="end_locality" value="">end_postal_code
	<input type="hidden" id="id_end_administrative_area_level_1" name="end_administrative_area_level_1" value="">
	<input type="hidden" id="id_end_postal_code" name="end_postal_code" value="">
    <button type="submit" class="save btn btn-default">Save</button>
</form>



<!-- <p>Date: <input type="text" id="id_date"></p> -->




{% endblock %}