{% extends 'RideOn/base.html' %}

{% block title %} Ride Posting {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="height: 60px;">
                {{drive.title}}
        </div>
        <div class="row">
            <div class="col-4">
                <div class="map-img">
                    {{drive.start_location}}
                    {{drive.end_location}}
                </div>
                <p>passengers: {{drive.passengers.objects}}</p>
            </div>
            <div class="col-8">
                <p>Driver: {{drive.driver}}</p>
                <p>Date: {{drive.date_time}}</p>
                <p>Cost: {{drive.min_cost}}$ - {{drive.max_cost}}$</p>
                <p>Payment: {{drive.payment_method}}</p>
                <p>Max Passangers: {{drive.max_passengers}}</p>
                <p>Vehicle: {{drive.car_description}}</p>
                <p>Luggage Capacity: {{drive.luggage_description}}</p>
                <p>Description: {{drive.description}}</p>

            </div>
        </div>
    </div>

{% endblock %}