{% extends 'RideOn/base.html' %}
{% block content %}
{% load static %}

<section class="jumbotron text-center jumbotron-fluid h-100 bg-white" style="background-image: url({% static 'RideOn/bg.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="container">

	<h1 class="jumbotron-heading">Travel Efficiently</h1>
	<p class="lead text-muted">RideOn brings together the entire UVA community into a single ride-sharing platform. We make it easier than ever to find other Hoos traveling home for the holidays, or perhaps taking a weekend trip to visit friends at another school. Use RideOn to travel more efficiently, and with more friends.</p>
	<p>
	<a href="#" class="btn btn-lg btn-secondary">Get Started</a>
	</p>

</div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>

{% endblock %}
