{% extends 'RideOn/base.html' %}
{% block content %}
{% load static %}

<section class="jumbotron text-center jumbotron-fluid h-100 bg-white" style="background-image: url({% static 'RideOn/uva.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="container" id="hometext">

	<h1 class="jumbotron-heading" style="color:white">Travel Efficiently</h1>
	<p class="" style="color:white">RideOn brings together the entire UVA community into a single ride-sharing platform. We make it easier than ever to find other Hoos traveling home for the holidays, or perhaps taking a weekend trip to visit friends at another school. Use RideOn to travel more efficiently, and with more friends.</p>
	<p>
	<a href="/users/login" class="btn btn-lg btn-secondary">Get Started</a>
	</p>

</div>
</section>

<section class="py-5">
    <div class="container"> 
    <h2 class="font-weight-light">What is RideOn?</h2>
    <p>RideOn brings together the entire UVA community into a single ride-sharing platform. We make it easier than ever to find other Hoos traveling home for the holidays, or perhaps taking a weekend trip to visit friends at another school. Use RideOn to travel more efficiently, and with more friends.</p>
  </div>
</section>

{% endblock %}
