<!-- templates/profile.html -->
{% extends 'RideOn/base.html' %}
{% block title %}Profile Page{% endblock %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
<div class="row">
    <div class="col-sm-10">
        <h1>User name</h1>
    </div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
</div>
<div class="row">
    <div class="col-sm-3">
        <!--left col-->
        <div class="text-center">
            <img src="{{ customuser.profile_pic }}" style="width: 80%; height: auto;" class="avatar img-circle img-thumbnail" alt="avatar">
            <form action="/users/{{customuser.id}}/edit/redirect/" method="POST">{% csrf_token %}
                <label for="profile_pic">Upload a different photo... </label>
                <input id="profile_pic" type="file" name="profile_pic" value="{{ customuser.profile_pic }}">
                <input type="submit" value="Update">
            </form>
        </div>
        </hr><br>
        <ul class="list-group">
            <li class="list-group-item text-muted">Activity </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <form class="form" action="/users/{{customuser.id}}/edit/redirect/" method="POST" id="username" name="username" value = "{{ customuser.username }}">{% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" value="Update">
                </form>
                <hr>
            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->
    </div>
    <!--/col-9-->
</div>
<!--/row-->
{% endblock %}