<!-- templates/profile.html -->
{% extends 'RideOn/base.html' %}
{% block title %}Profile Page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="profile-img">
                <img src="{{ customuser.profile_pic.url }}" alt="" style="width: 80%; height: auto;" />
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">{{customuser.about}}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="profile-head" style="vertical-align: middle">
                <h4>
                    {{ customuser.username }}
                </h4>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
                </li>
            </ul>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-6">
                            <label>Name</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.gender }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Email</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.phone }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Driver Rating</label>
                        </div>
                        <div class="col-6">
                            <p>{{ driver_avg_rating }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Rider Rating</label>
                        </div>
                        <div class="col-6">
                            <p>{{ rider_avg_rating }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Experience</label>
                        </div>
                        <div class="col-6">
                            <p>Expert</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
                  <div class="row">
                    <div class="col-6">
                      <label>Friends</label>
                      <div class="col-6">
                        {% for friend in friends %}
                        <p>{{ user.username }}</p>
                        {% endfor %}
                        <p>Need to get friends from UserFriends</p>
                        <p>John Smith</p>
                        <p>Jon Snow</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% if customuser.id == user.id %}
        <div class="col-2">
            <button onclick="window.location.href = '/users/{{ customuser.id }}/edit/';">Edit Profile </button>
        </div>
        {% else %}
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}