<!-- templates/profile.html -->
{% extends 'RideOn/base.html' %}
{% block title %}Profile Page{% endblock %}
{% block content %}
{% load bootstrap4%}
{% load static %}
<link rel="stylesheet" href="{% static 'users/profile.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="profile-img">
                <img src="{{ customuser.profile_pic.url }}" alt="" style="width: 80%; height: auto;" />
            </div>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">{{customuser.about}}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="profile-head" style="vertical-align: middle">
                <h1>
                    {{ customuser.username }}
                </h1>
            </div>
            <br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-info-circle"></i>&nbsp;Personal Information</a>
                </li>
                <li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-sticky-note"></i>&nbsp;Reviews</a>
                </li>
                <li class="nav-item">
			<a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false"><i class="fas fa-user-friends"></i>&nbsp;Friends</a>
                </li>
            </ul>
            <br>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-6">
                            <label>Email</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.gender }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-6">
                            <p>{{ customuser.phone }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Driver Rating</label>
                        </div>
                        <div class="col-6">
				<p>{{ driver_avg_rating }}&nbsp;<i class="fas fa-star"></i></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Rider Rating</label>
                        </div>
                        <div class="col-6">
				<p>{{ rider_avg_rating }}&nbsp;<i class="fas fa-star"></i></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="row">
				<h3>Reviews of {{ customuser.username }} as a Driver</h3>
			</div>
			{% for review in driver_reviews %}
			<div class="row">
				<div class="card mt-2" style="width: 100%;">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<h5 class="card-title"><a href="{% url 'users:profile' review.by.id %}">{{ review.by.username }}</a></h5>
							</div>
							<div class="col-9">
								<h5 class="card-title"><b>{{ review.title }}</b></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<img src="{{ review.by.profile_pic.url }}" alt="" style="width: 50px; height: auto;" /></li>
							</div>
							<div class="col-9">
								<small>Rating:&nbsp; 
									{% with ''|center:review.rating as range %}
									{% for _ in range %}
										<i class="fas fa-star" aria-hidden="true"></i>
									{% endfor %}
									{% endwith %}
								</small>
								<p>{{ review.description }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<hr>
			<div class="row">
				<h3>Reviews of {{ customuser.username }} as a Rider</h3>
			</div>
			{% for review in rider_reviews %}
			<div class="row">
				<div class="card mt-2" style="width: 100%;">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<h5 class="card-title"><a href="{% url 'users:profile' review.by.id %}">{{ review.by.username }}</a></h5>
							</div>
							<div class="col-9">
								<h5 class="card-title"><b>{{ review.title }}</b></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<img src="{{ review.by.profile_pic.url }}" alt="" style="width: 50px; height: auto;" /></li>
							</div>
							<div class="col-9">
								<small>Rating:&nbsp; 
									{% with ''|center:review.rating as range %}
									{% for _ in range %}
										<i class="fas fa-star" aria-hidden="true"></i>
									{% endfor %}
									{% endwith %}
								</small>
								<p>{{ review.description }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
                </div>
                <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
			{% for friend in friends %}
			<div class="row">
				<div class="card mt-2" style="width: 100%;">
					<div class="card-body">
						<div class="row">
							<div class="col-sm">
								<h5 class="card-title"><a href="{% url 'users:profile' friend.id %}">{{ friend.username }}</a></h5>
							</div>
						</div>
						<div class="row">
							<div class="col-2">
								<img src="{{ friend.profile_pic.url }}" alt="" style="width: 50px; height: auto;" /></li>
							</div>
							<div class="col-6">
								<p>{{friend.about}}</p>
							</div>
							<div class="col-2">
								<form method="post" action="remove_friend">
									{% csrf_token %}
									<input type="hidden" name="tofriend_id" value="{{ customuser.id }}">
									<button class="btn btn-danger" type="Submit">Remove Friend</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
                </div>
            </div>
        </div>
        {% if customuser.id == user.id %}
        <div class="col-2">
		<button class="btn btn-default" onclick="window.location.href = '/users/{{ customuser.id }}/edit/';"><i class="fas fa-pencil-alt"></i>&nbsp;Edit Profile </button>
        </div>
        {% else %}
        {% if is_friend == True %}
        <div class="col-2">
            <form method="post" action="remove_friend">
                {% csrf_token %}
                <input type="hidden" name="tofriend_id" value="{{ customuser.id }}">
		<button class="btn btn-danger" type="Submit"><i class="fas fa-user-minus"></i>&nbsp;Remove Friend</button>
            </form>
        </div>
        {% else %}
        <div class="col-2">
            <form method="post" action="add_friend">
                {% csrf_token %}
                <input type="hidden" name="tofriend_id" value="{{ customuser.id }}">
		<button class="btn btn-success" type="Submit"><i class="fas fa-user-plus"></i>&nbsp;Add Friend</button>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
