{% load static %}
<link rel="stylesheet" href="{% static 'drives/passenger_list.css' %}">

<h4>Passengers:</h4>

<table id="current_passengers" class="mb-3">
	<tr>
		<th>Name</th>
		<th>Rider Rating</th>
		<th></th>
	  </tr>
	{% for passenger in drive.passengers.all %}
	<tr>
		<td>
			<a href="{% url 'users:profile' passenger.id %}" id="passenger_entry">{{ passenger.username }}</a>
		</td>
		<td>
			3
		</td>
		<td>
		    {% if passenger.id != drive.driver.id and drive.status == "Listed" %}
				<form method="post" action="passenger_remove" id="passenger_remove_form">
					{% csrf_token %}
					<input type="hidden" id="passengerId" name="passengerId" value="{{passenger.id}}">
					<button type="submit" class="btn btn-outline-danger btn-sm float-right" id="passenger_remove_btn">Remove</button>
				</form>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

{% if drive.status == "Listed" %}
<h4>Rider Requests:</h4>

<table id="passenger_requestlist">
	<tr>
		<th>Name</th>
		<th>Rider Rating</th>
		<th></th>
	  </tr>
	{% for application in drive.requestList.all %}
	<tr>
		<td>
			<a href="{% url 'users:profile' application.user.id %}" id="passenger_request">{{ application.user.username }}</a>
		</td>
		<td>
			3
		</td> float-right
		<td>
		    {% if application.user.id != drive.driver.id %}
			<div class="row">
				<div class="col-sm">
					<form method="post" action="request_approve" id="accept_request_form">
						{% csrf_token %}
						<input type="hidden" id="passengerId" name="passengerId" value="{{application.user.id}}">
						<button type="submit" class="btn btn-outline-success btn-sm" id="accept_request_btn">Approve</button>
					</form>
				</div>
				<div class="col-sm">
					<form method="post" action="request_reject" id="reject_request_form">
						{% csrf_token %}
						<input type="hidden" id="passengerId" name="passengerId" value="{{application.user.id}}">
						<button type="submit" class="btn btn-outline-danger btn-sm float-right" id="reject_request_btn">Reject</button>
					</form>
				</div>
				{% if application.waypoint %}
					{% include "drives/waypoints/viewWaypoint.html" %}   
				{% endif %}
			</div>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}